* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.8;
  color: #222;
  overflow-x: hidden;
}

::selection {
  color: yellow;
  background: transparent;
}

::-moz-selection {
  color: yellow;
  background: transparent;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}


img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
}

h2, h3 {
  font-weight: 300;
}

p {
  font-weight: 300;
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.div-header {
  height: 100vh;
  width: 100%;
  background-image: url("../images/phone-img.jpg");
  background-size: cover;
  background-position: center;
}

.ul-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  z-index: 1001;
}


/* toggle nav menue for phones */
.phone-lines {
  width: 32px;
  min-height: 32px;
  cursor: pointer;
  position: relative;
  margin: 2em 1.5em 1.5em 0;
  transition: all .5s;
}

.phone-lines-off {
  margin-right: calc(1em + 57px);
}

.phone-line {
  width: 100%;
  height: 6px;
  margin-bottom: 2px;
  background: #000;
  border-radius: 3px;
  transform: rotate(0);
  opacity: 1;
  transition: all .5s;
}
.phone-line-off {
  position: absolute;
  top: 50%;
  left: 0;
}
.phone-line-off:nth-child(1) {
  visibility: hidden;
  transform: rotate(90deg);
  opacity: 0;
}
.phone-line-off:nth-child(4) {
  visibility: hidden;
  opacity: 0;
  transform: rotate(-90deg);
}
.phone-line-off:nth-child(2) {
  transform: rotate(-45deg);
}
.phone-line-off:nth-child(3) {
  transform: rotate(45deg);
}


/* toggle x-list when the menu icon is clicked */
.x-list {
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  z-index: 1001;
}

.x-list-off::before {
  content: "";
  position: absolute;
  top: -20px;
  /* right: calc(57px + 1em); */
  right: 57px;
  border-bottom: 20px solid rgba(0, 0, 0, .7);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.x-list-off {
  transform: translate(-1em, 0);
  opacity: 1;
  visibility: visible;
}

.li-header {
  position: relative;
}

.x-ul {
  background: rgba(0, 0, 0, .7);
  border-radius: 8px;
  text-align: center;
}

ul.x-ul a {
  padding: 8px 12px;
}

.li-header a {
  cursor: pointer;
  display: block;
  color: #fff;
}
.li-header a:hover {
  color: #ccc;
}
.li-header > ul > li > a {
  color: #fff;
}

.ul-geography::before,
.ul-therapies::before,
.ul-human::before,
.ul-tourism::before,
.ul-chemical::before {
  position: absolute;
  top: 2px;
  left: 100%;
  /* transform: translate(0, -50%); */
  content: "";
  border-top: 20px solid transparent;
  border-left: 14px solid rgba(0, 0, 0, .8);
  border-bottom: 20px solid transparent;
  /* border-right: 14px solid blue; */
}

.ul-geography,
.ul-therapies,
.ul-human,
.ul-tourism,
.ul-chemical {
  background: rgba(0, 0, 0, .8);
  border-radius: 8px;
  border-top-right-radius: 0;
  position: absolute;
  top: 0;
  right: calc(100% + 14px);
  visibility: hidden;
  opacity: 0;
  height: 0;
  text-align: center;
  z-index: 1001;
  width: 100%;
  transition: all .5s;
}


.add-geography,
.add-therapies,
.add-human,
.add-tourism,
.add-chemical {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.add-geography {
  height: calc(100% * 6.6);
}
.add-therapies {
  height: calc(100% * 3);
}
.add-human {
  height: calc(100% * 4);
}
.add-tourism {
  height: calc(100% * 4.8);
}
.add-chemical {
  height: calc(100% * 4.8);
}





/* ************************************************** */
/* main header h1 style */
/* ************************************************** */
div.header-text {
  color: #fff;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  animation: header-animation 2s cubic-bezier(.6,-0.53,.41,1.42);
}

@keyframes header-animation {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50%, 50%);
  }
}

h1.h1-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Work Sans', sans-serif;
  text-shadow: 1px 2px 8px rgba(0,0,0,.3);
  font-weight: 200;
  font-size: 3em;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}

.logo {
  position: absolute;
  top: -1em;
  z-index: 1001;
}

.h1-header .first-h1 {
  opacity: 1;
  animation: first-h1 1s cubic-bezier(.6,-0.53,.41,1.42);
}

@keyframes first-h1 {
  0% {
    opacity: 0;    
  }
  100% {
    opacity: 1;
  }
}

.h1-header .second-h1 {
  opacity: 1;
  animation: second-h1 2s cubic-bezier(.6,-0.53,.41,1.42);
}
@keyframes second-h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h1-header .third-h1 {
  opacity: 1;
  animation: third-h1 3s cubic-bezier(.6,-0.53,.41,1.42);
}
@keyframes third-h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h1-header .fourth-h1 {
  opacity: 1;
  margin-right: .2em;
  animation: fourth-h1 4s cubic-bezier(.6,-0.53,.41,1.42);
}
@keyframes fourth-h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h1-header .fifth-h1 {
  opacity: 1;
  animation: fifth-h1 5s cubic-bezier(.6,-0.53,.41,1.42);
}
@keyframes fifth-h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h1-header .sixth-h1 {
  opacity: 1;
  animation: sixth-h1 6s cubic-bezier(.6,-0.53,.41,1.42);
}
@keyframes sixth-h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h1-header .seventh-h1 {
  opacity: 1;
  animation: seventh-h1 7s cubic-bezier(.6,-0.53,.41,1.42);
}
@keyframes seventh-h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ****************************************************** */
/* end main header style  */
/* ****************************************************** */


/* ***************************************************** */
/* sub header h3 style */
/* ***************************************************** */
h1.h1-header + h3:first-of-type {
  margin-bottom: 1.5em;
}

h3.h3-header {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  text-align: center;
  opacity: 1;
  animation: h3-animation 6s cubic-bezier(.6,-0.53,.41,1.42);
}

@keyframes h3-animation {
  0% {
    opacity: 0;
    transform: translate(0, 60px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/* ************************************************ */
/* end sub header style */
/* *********************************************** */

/* ************************************************ */
/* main navigation bar (mobile first) */
/* *********************************************** */


















/* geography container */
.geography-header {
  margin: 0 0 2em .8em;
}

.geography-img,
.therapies-img {
  max-width: 90%;
  height: auto;
  margin: 0 0 0 1.5em;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2),0 6px 20px 0 rgba(51, 51, 51,.19);
}

div.p-div {
  padding: 0 1.5em 0;
  max-width: 95%;
}

.geography-sub-header {
  margin-top: 2em;
  margin-left: .8em;
}

.hidden-text {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  /* transition: all 1s; */
}
.revealed-text {
  max-width: 100%;
  max-height: 1000px;
  animation: text-animation 1s ease-in-out;
  /* overflow: auto; */
}

@keyframes text-animation {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}


.hide-button {
  padding: .5em 0;
  color: #fff;
  width: 128px;
  text-align: center;
  cursor: pointer;
  background: #4caf50;
  border-radius: 3px;
  transition: all .5s;
}

.hide-button:hover {
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2),0 6px 20px 0 rgba(51, 51, 51,.19);
  /* box-shadow: 0px 2px 8px 0 rgba(255, 255, 255, 0.212); */
  transform: scale(1.1);
}

.animate-btn {
  background: tomato;
  /* animation-name: btn-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; */
  animation: btn-animation 1s cubic-bezier(.6,-0.53,.41,1.42);
}
@keyframes btn-animation {
  from {
    transform: rotateX(-120deg) rotateY(60deg) rotateZ(90deg) scale(.5);
    
  }
  to {
    transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
  }
}

.hidden-text-early,
.hidden-text-water,
.hidden-text-rock,
.hidden-text-therapies {
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

.revealed-text-early,
.revealed-text-water,
.revealed-text-rock,
.revealed-text-therapies {
  max-width: 100%;
  max-height: 1000px;
  animation: text-animation 1s ease-in-out;
}
.hide-text-early,
.hide-text-water,
.hide-text-rock,
.hide-text-therapies {
  cursor: pointer;
  color: tomato;
}

.hide-text-early:hover,
.hide-text-water:hover,
.hide-text-rock:hover,
.hide-text-therapies:hover {
  color: yellow;
}

.less,
.less-early,
.less-water,
.less-rock,
.less-therapies,
.hide {
  display: none;
}

.view {
  display: block;
}






/* *************************************************************************************************** */
/* **************************************************************************************************** */
/* **************************************************************************************************** */
/* *****************                Media Queries           **********************/
/* **************************************************************************************************** */
/* **************************************************************************************************** */
/* **************************************************************************************************** */
/* **************************************************************************************************** */


@media only screen and (min-width: 769px) {
  .div-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
  }
  /* *************************************************** */
  /* slide images */
  /* *************************************************** */
  .slide-container {
    width: 100%;
    min-height: 100vh;
  }
  .slide-div {
    display: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
  }
  .slide-img-1 {
    background-image: url("../images/conan.jpg");
  }
  .slide-img-2 {
    background-image: url("../images/beach.jpg");
  }
  .slide-img-3 {
    background-image: url("../images/islands.jpg");
  }
  .slide-img-4 {
    background-image: url("../images/saltLake.jpg");
  }
  /* *************************************************** */
  /* end slide images */
  /* *************************************************** */ 
  
  /* main h1 and sub h3 */

  div.header-text,
  div.header-text h3 {
    color: #333;
  }

  h1.h1-header {
    font-size: 5em;
  }
  h3.h3-header {
    font-size: 1.5em;
  }
  /* end main h1 and sub h3 */

    
  ul.ul-header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;
  }

  .modal-triggar {
    display: block;
    padding: 2em;
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all .3s;
  }
  .modal-triggar:hover {
    box-shadow: 1px 2px 12px rgba(0, 0, 0, .3);
    transform: scale(1.01);
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    background: rgba(0, 0, 0, .6);
    transform: translate(0, -50%);
    transition: all .5s ease-in-out;
  }
  .toggle-modal {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 0 3em 2em;
    background: #129b8e;
    color: #fff;
    border-radius: 8px;
    font-size: 1.2em;
    animation: content-animation 1s ease-in-out;
  }
  @keyframes content-animation {
    from {
      transform: translate(0, 50%);
    }
    to {
      transform: translate(0, 0);
    }
  }
  .x-modal {
    width: 32px;
    height: 32px;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    cursor: pointer;
  }
  .first-x-modal,
  .second-x-modal {
    display: block;
    border-radius: 3px;
    position: absolute;
    right: 0;
    width: 100%;
    height: 6px;
    background: #fff;
  }
  .first-x-modal {
    transform: rotate(-45deg);
  }
  .second-x-modal {
    transform: rotate(45deg);
  }
  .x-modal:hover .first-x-modal,
  .x-modal:hover .second-x-modal {
    background: tomato;
    transition: .5s;
  }

}

/* ******************************************************************************** */
/* ******************************************************************************** */
/* ********************************************************************************* */
@media only screen and (min-width: 993px) {

  .div-header {
    display: block;
    flex-direction: unset;
    justify-content: unset;
    position: relative;
  }

  /* main h1 and sub h3 */
  h1.h1-header {
    font-size: 6em;
  }
  h3.h3-header {
    font-size: 1.5em;
  }
  /* end main h1 and sub h3 */

/* main nav bar */
  ul.ul-header {
    display: block;
    flex-direction: unset;
    flex-wrap: unset;
    align-items: unset;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 0;
  }


  .ul-header > li:nth-of-type(1) {
    display: none;
  }
  
  /* toggle background of the list */
  .x-list {
    visibility: visible;
    opacity: 1;
    min-width: 160px;
    border-radius: 2px;
    background: transparent;
    transition: .2s;
  }
  .x-list ul {
    background: transparent;
    list-style: none;
    padding: 0;
  }

  li.x-list > ul.x-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-height: 112px;
    max-width: 100%;
  }

  .li-header {
    position: relative;
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .li-header  a {
    display: block;
    min-height: 100%;
    padding: 8px 10px;
  }

  .li-header > a:hover {
    background: transparent;
    color: #000;
    cursor: pointer;
  }

  .li-header:hover::after {
    content: "";
    position: absolute;
    display: block;
    /* border-top: 15px solid #3971eb; */
    border-right: 20px solid transparent;
    border-bottom: 15px solid rgba(255, 255, 255, .7);
    border-left: 20px solid transparent;
    bottom: -6px;
    left: 50%; 
    transform: translate(-50%, 0);
    z-index: 1001;
  }

  li.li-header > ul {
    position: absolute;
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    top: 50px;
    right: unset;
    border-radius: 6px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),0 6px 20px 0 rgba(255, 255, 255,.19);
    transition: .4s;
  }




/* ********************************************** */
/* ********************************************** */
/* coumon side panel styles */
/* geography side panel */
/* therapies side panel */
/* Human History side panel */
/* tourism side panel */
/* chemical side panel */
/* ********************************************** */
/* ********************************************** */
.li-header {
  position: relative;
  transition: 1s;
}


.li-header:hover > ul.ul-therapies {
  width: 140px;
}
.li-header:hover >ul.ul-geography,
.li-header:hover > ul.ul-human,
.li-header:hover > ul.ul-tourism,
.li-header:hover > ul.ul-chemical {
  width: 156px;
}




 /* toggle side panel when clicked */
 li.geography-list > ul.hide-side-panel,
 li.therapies-list > ul.hide-side-panel,
 li.human-list > ul.hide-side-panel,
 li.tourism-list > ul.hide-side-panel,
 li.chemical-list > ul.hide-side-panel {
   display: none;
 }
/* *********************************************** */
/* *********************************************** */
/* end of side panel style */
/* *********************************************** */
/* ************************************************ */






  .li-header > ul > li > a {
    /* min-height: 50px; */
    color: #000;
  }
  .li-header > ul > li > a:hover {
    color: #fff;
    background: #1ABC9C;
  }

  .li-header:hover > ul.ul-geography {
    min-width: auto;
    height: calc(100% * 6.6);
  }

  .li-header:hover > ul.ul-therapies {
    min-width: auto;
    height: calc(100% * 3);
  }
  
  .li-header:hover > ul.ul-human {
    min-width: auto;
    height: calc(100% * 4);
  }

  .li-header:hover > ul.ul-tourism,
  .li-header:hover > ul.ul-chemical {
    min-width: auto;
    height: calc(100% * 4.6);
  }



/* Geography Container */
  .geography-container,
  .therapies-container,
  .human-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 250px;
    padding: 3em 0;
  }

  .geography-container {
    color: #fff;
    background: linear-gradient(to right, #373B44, #4286f4);
  }

  .therapies-container {
    color: #fff;
    /* background: linear-gradient(to right, #4364F7, #6FB1FC); */
    background: linear-gradient(to right, #11998e, #38ef7d);
  }

  .human-container {
    color: #000;
    background: linear-gradient(to right, #ee9ca7, #ffdde1)
  }

  .human-container h2,
  .human-container h3 {
    color: #000;
  }
  .geo-col-1,
  .go-col-2,
  .geo-col-3,
  .geo-col-6,
  .geo-col-7 {
    flex: 1 100%;
  }

  .geo-col-4,
  .geo-col-5 {
    flex: 1 50%;
  }

  .geography-img,
  .therapies-img {
    max-width: 100%;
    margin: 0;
  }

  .geo-col-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .p-col-1-1,
  .img-col-1 {
    flex: 1 50%;
  }

  div.p-col-2-1 > p {
    margin-top: 0;
  }

  .therapies-col-2,
  .therapies-col-3,
  .therapies-col-4,
  .human-col-1,
  .human-col-2,
  .human-col-3,
  .human-col-4 
  {
    flex: 1 100%;
  }

  /* *********************************************************** */
  /************************ handle scrolling********************* */
  /* ************************************************************ */
  /* scroll active classes */


  /* animate on scroll active text */
  .active-text {
    animation: 2s active-text-animation ease-out;
  }

  @keyframes active-text-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* animate on scroll active img */
  .active-img {
    animation: 1s active-img-animation cubic-bezier(.6,-0.53,.41,1.42);
  }

  @keyframes active-img-animation {
    from {
      transform: rotateY(60deg) translate(50%, 0);
    }
    to {
      transform: rotateY(0) translate(0,0);
    }
  }

  /* slide text right */
  .slide-right-text {
    animation: slide-right-animation 2s cubic-bezier(.6,-0.53,.41,1.42);
  }
  @keyframes slide-right-animation {
    from {
      transform: translate(-100px,0);
      opacity: 0;
    }
    to {
      transform: translate(0,0);
      opacity: 1;
    }
  }

  /* slide text top */
  .slid-bottom-text {
    animation: slide-bottom-animation .5s ease-in-out 2 alternate;
  }
  @keyframes slide-bottom-animation {
    0% {
      transform: translate(0, 0) rotateY(0);
      opacity: .95;
    }
    33% {
      transform: translate(0,-20px) rotateY(-10deg);
      opacity: .8;
    }
    100% {
      transform: translate(0, 20px) rotateY(10deg);
      opacity: .95;
    }
  }
  /* *********************************************************** */
  /************************ end handle scrolling********************* */
  /* ************************************************************ */

  h2, h3 {
    color: yellow;
  }

}

/* ******************************************************************************** */
/* ******************************************************************************** */
/* ********************************************************************************* */

@media only screen and (min-width: 1025px) {
  
  h1.h1-header {
   font-size: 7em;
  }

  h3.h3-header {
    font-size: 2em;
  }
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-height: 112px;
  max-width: 100%; */

  li.x-list > ul.x-ul {
    margin: auto;
    justify-content: flex-end;
    max-width: 85%;
  }

  .geography-img,
  .therapies-img {
    max-width: 85%;
  }


  
}


